<div class="dash_item-wrapper class clear-both float-left col-xs-12" data-filter="{{name}}">
  <input type="checkbox" class="float-left" aria-label="Class"><h3 class="float-left">{{name}}</h3>
</div><!--/dashitem-->
