<div class="jumbotron">
  <h1>Learning, Personalized</h1>

  <p>Splor helps users learn at their own pace, by pairing students that are ahead of the curve with students who can use their help.</p>

  <h3>More copy goes here.</h3>

  <p>This landing page needs to be designed and written</p>

  <button>Sign Up Now</button>
</div>
