<div class="jumbotron">
  <h1>Learning, Personalized</h1>

  <p>Splor combines personalized learning with authentic collaboration by matching students for peer to peer tutoring.</p>

  <h3>Khan Academy coaches who are new to Splor: Have your students list Splor as a coach by adding class code KP5WC6 at khanacademy.com/coaches.</h3>

  <p>The app will then guide you through class creation, generating pairings, and emailing pairings to students with the "Splor All" button.  </p>
  
  <p>As early testers, we need your feedback! <a href="mailto:mike@learnpersonalized.com">Email us with the good, bad, ugly, and questions.</a> </p>

  
</div>
