<div class="jumbotron">
  <h1>Learning, Personalized</h1>

  <p>Splor combines personalized learning with authentic collaboration by matching students for peer to peer tutoring.</p>

  <h3>Khan Academy coaches who are new to Splor: Have your students list Splor as a coach by adding class code KP5WC6 at khanacademy.com/coaches.</h3>

  <p>Then log in with Khan Academy at the link above, create a class, and add your students. </p>
  
  <h3>Once logged in, click the "Generate" button. We'll automatically match as much of your class as possible, in tutor/tutee pairings around specific skills: A student who is struggling in a skill (tutee) will be paired with a student who has mastered that skill (tutor). </h3>
  
  <p>Click "Splor All" and your students will get emails with their pairing assignments!</p>
  
  <p>As early testers, we need your feedback! Email <a href="mailto:mike@learnpersonalized.com">Email us with the good, bad, ugly, and questions.</a>. </p>

  
</div>
