# required

KHAN_CONSUMER_KEY=
KHAN_CONSUMER_SECRET=
TOKEN_SECRET=
SESSION_SECRET=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# optional

# overrides the "to" email, so you don't spam real users from dev.
OVERRIDE_EMAIL=splortest@gmail.com

BLUEBIRD_DEBUG=1
