<!-- PAIRINGS -->
<div class="dash_pairings">
	<div class="dash_header">
		<div class="dash_header-left">
			<h2 class="float-left">Manage Classes</h2>
		</div><!--/dash_header-left-->
		<div class="dash_header-right float-right">
			<input class="float-right filter" id="filter" placeholder="Search" type=search name=s>
		</div><!--/dash_header-right-->
	</div><!--/dash_header-->
	<form action="/classes" method="post">
		<div class="dash_item-wrapper class clear-both float-left col-xs-12">
			<label for="name">New Class</label>
			<input type="text" name="name" placeholder="class name"/>
			<input type="submit" value="Create"/>
		</div><!--/dashitem-->
	</form>
	{{#each classes}}
		{{> class}}
	{{/each}}
</div><!--/dash_pairings-->
<!-- PAIRINGS -->
