{{#unless user}}
  {{> loggedout}}
{{else}}
<div class="row">
  {{#if students}}
    {{> pairings}}
  {{else}}
  <div class="col-xs-12 main">
    <h2>No students found</h2>
    <p>To generate pairings, you'll need to retrieve your khan students.</p>
    <a href="" class="retrieve-students"><span class="glyphicon glyphicon-refresh spinner"></span>Retrieve students now.</a></li>
  </div>
  {{/if}}
</div><!--/row-->
{{/unless}}
