{{#unless user}}
  {{> loggedout}}
{{else}}
<div class="row">
  {{#if students}}
    <div class="classList">
      <h2>Classes</h2>
      <p>Choose a class to generate pairings</p>
      {{#each classes}}
        {{> class}}
      {{else}}
      <div class="col-xs-12 main">
        <h2>No classes found</h2>
        <p>To generate pairings, add a class and add some students to it.</p>
        <a href="/classes"></span>Add a class now</a></li>
      </div>
      {{/each}}
    </div>
  {{else}}
  <div class="col-xs-12 main">
    <h2>No students found</h2>
    {{#restrict 'SUPERUSER'}}
    <p>To generate pairings, you'll need to retrieve your khan students and add them to classes.</p>
    <a href="javascript:void(0);" class="retrieve-students"><span class="glyphicon glyphicon-refresh spinner"></span>Retrieve students now.</a></li>
    {{else}}
    <p>To generate pairings, students will need to add the Splor teacher as a coach, then we'll need to refresh the student list.</p>
    <p>To add Splor as a coach, have your students visit <a href="http://khanacademy.com/coaches">http://khanacademy.com/coaches</a>, and have them enter KP5WC6 as the class code.</p>
    <img src="http://oi.pxfx.io/image/2Y003p35252Q/Image%202015-12-04%20at%209.33.59%20AM.png"/>
    <br/>
    <p>Let us know when you have added your students, and we'll refresh the student list.</p>
    <a href="mailto:mmendelson@sierraacademy.net">Contact us if you need help</a>
    {{/restrict}}
  </div>
  {{/if}}
</div><!--/row-->
{{/unless}}
