<div class="dash_pairings">
	<div class="students_header sticky">
		<div class="dash_header-left">
			<h2 class="float-left">Manage Students</h2>
		</div><!--/dash_header-left-->
		<div class="dash_header-right float-right">
		<input class="float-right filter" id="student-search" placeholder="Search" type=search name=s>
		</div><!--/dash_header-right-->
		<div class="header-actions">
	      {{#if classes}}
				<select name="add_to" id="bulk_add">
						<option value="Add to...">Add to...</option>
	          {{#each classes}}
	          <option value="{{id}}">{{name}}</option>
	          {{/each}}
				</select>
				<select name="remove_from" id="bulk_remove">
						<option value="Remove from...">Remove from...</option>
	          {{#each classes}}
	          <option value="{{id}}">{{name}}</option>
	          {{/each}}
				</select>
	      {{/if}}
		<input class="float-right" type="file" id="fileinput" />
		</div>
	</div><!--/dash_header-->

	<div class="students_list">
	  {{> students}}
	</div>
</div><!--/dash_pairings-->
